<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">

  <Identity Name="3b6671f1-52d7-4a31-b7e0-5e2b45cb19a0"
            Publisher="CN=Aybe"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>SharpDX.Toolkit.Direct2D.Test</DisplayName>
    <PublisherDisplayName>Aybe</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="SharpDX.Toolkit.Direct2D.Test.App">
        <m2:VisualElements
            DisplayName="SharpDX.Toolkit.Direct2D.Test"
            Square150x150Logo="Assets\Logo.png"
            Square30x30Logo="Assets\SmallLogo.png"
            Description="SharpDX.Toolkit.Direct2D.Test"
            ForegroundText="light"
            BackgroundColor="#464646">
            <m2:SplashScreen Image="Assets\SplashScreen.png" />
        </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>